p{
    background-color: aquamarine;
    color: darkmagenta;
    font-size: 30px;
}

hl{
    background-color: yellow;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}